*{
    margin:o;
    box-sizing: border-box;


}

div {
    margin: 50px auto 0px auto;
    width: 50px;
    height: 100px;
    background-color: #ddd;
}
#div-1 :hover {
    /* scale (x,y) */
    transform: scale(1.1.,1.1);

}

#div-2 :hover{
    background-image: url("https://via.placeholder.com/100/22ff44/ff6666?text=CodiGo";
    transform: rotate(135deg );

}
#div-3 :hover {
    transform: translate(30px,10px);    
}

#div-4 :hover{
    transform: scale(1.2,1.2) rotate(45deg);
}
