*{
    margin:o;
    box-sizing: border-box;


}

#div-1 {
    width: 150px;
    height: 150px;
    margin:50px auto 0px auto;
    border: 1px #555555;
    /* linear-graadient(la posicion angulo [colores]) */
    background: -webkit-linear-gradient(top right, #fff, red);
    background: radial-gradient( #fff, red);


}
body {
    height: 800px;
    background: linear-gradient(to botton, #ee8899, #ffffff);
}