*{
    margin:o;
    box-sizing: border-box;


}

div {
    margin: 50px auto 0px auto;
    width: 50px;
    height: 100px;
    background-color: #ddd;
}
#div-1{
    /* transiciones */
    /* all la transiciones vq a er programada par cualquier cambio enel elemeto,ejemplo: colo, borde,ancho,alto */
    transition-property:all ;
    /* cuando tiempo va a durar el cambio de estado */
    transition-duration: 1s;
    /* funcion de distribucion de tiempo */
    /* ease  ° ease-in | ease-in-out  | linear */
    transition-timing-function: linear;
    /* tiempo de espera antes de iniciar el cambio de estado */
    transition-delay: 0s;
    /* esta es la linea corta resumida de tdo lo de arriba */
    transition:all 1s ease 0s
}


#div-1:hover{
    transform: scale(1.2,1.2);
    border-radius: 20px;
}
#div-2 {
    trnasition:all 1s ease 0s    
    background-color: red;
}
#div-2:hover{
    background-color: blue;
    transform: rotate(90deg);    
}
#div-3r{
    background-image: url(http://placekitten.com/200/300);
    /* cover=>>estira toda la imagen para que ocupe todo el contenedor */
    /* contain =>> si la imagen es pequeña aparecen mas imagenes para cubrir el contenedor  */
    background-size: cover;
    transition: all 0.5s ease 0s;
}

#div-3:hover{
    /* filter */
    /* blur=> desenfoque valores posibles de 1px a 10px */
    /* leer en la pag 127 o el libro 142 */
    filter: blur(3px);
}