*{
    margin: 0;
    box-sizing: 0;

}
header{
    box-decoration-break: teal;
    color: whitesmoke;

}
#contenedor div {
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: tomato;
}
#caja-1 {
    width: 140px;
    height: 50px;
    float: left;
    /* margin: 5px; */
    background-color: tomato;
}
#caja-2 {
    width: 140px;
    height: 50px;
    float: left;
    /* margin: 5px; */
    background-color: tomato;
}
#caja-3 {
    width: 140px;
    height: 50px;
    float: left;
    /* margin: 5px; */
    background-color: tomato;
}
#caja-4 {
    width: 140px;
    height: 50px;
    float: left;
    /* margin: 5px; */
    background-color: tomato;
}
#contenedor{
    background-color: tan;
    width: 600px;
}
.fix{
    clear: both;
}
#navegacion {
    background-color: crimson;
    color:white;
    text-align: center;    
}
#navegacion>div{
    background-color: indigo;
    width: 100px;
    display: inline-block;
    /* margin: 5px -4px; */
}
#navgacion-wraper{
    margin: 0 auto;
    width: 400px;    
}
/* .navegacion-wraper>div:not(.fix) */
.opcion-1, .opcion-2, .opcion-3 {
    background-color: indigo;
    width: 100px;
    float: left;
    /* margin: 5px -4px */
    text-align: center;
    boder: 1px solid yellow;
    padding: 15px;
}
