*{
    margin: 0px;
    box-sizing: border-box;
}
.body{
    height: 100vh;
}
.menu-1{
    background-color: #fefedc;        
}
.menu-2{
    background-color: #fedefe;
    height: 25vh;    
}

#xd12 {
    margin: 0 auto;
    height: 1000vh;    
    text-align: right;  
    
}
.menu-5{
    background-color: #fedcdc;
    width: 33%;
    padding: 15px;
    text-align: left;
    float: none;
    
}
.menu-6{
    background-color: #dcfedc;
    width: 33%;
    padding: 15px;
    text-align: left;
    float: none;
    
}
.menu-7{
    background-color: #DCDCFE;
    width: 33%;  
    padding: 15px;
    text-align: left;
    float: none;  
}

.menu-9 {
    background-color: #dcdcdc;
    width: 33%;
    text-align: left;
    float: right;
    right: 30%;
    transform: translate(-103%, -789% );
    
    
}

.menu-4 {
    background-color: aqua;
    text-align: left;
    left: none;
}
